.btn-add-guest {
    > .container-img {
        background-color: #EFEEF1;

        > span {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 48px;
            color: #888EA7;
        }
    }
}

@media only screen and (max-width: 425px) {
    .btn-add-guest {
        background-color: #fff;
    }
}