.navbar-top-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    background-color: #F2F3F7;
    position: relative;
    z-index: 2;

    .navbar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 100%;

        > div {
            display: flex;
            column-gap: 20px;
            align-items: center;
            height: 100%;

            #btn-add-event {
                height: 30px;
                width: 200px;
                background: linear-gradient(89.91deg, #4669E3 -8.97%, rgba(32, 189, 255, 0.5) 143.13%);
                border: none;
                color: #fff;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                font-family: Montserrat;
                font-weight: 500;
                cursor: pointer;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;

                > span {
                    font-family: Montserrat;
                    font-weight: 700;
                }
            }

            div {
                position: relative;
                height: 34px;
                width: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    height: 28px;
                }

                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #EC5358;
                    height: 17px;
                    width: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    color: #fff;
                    font-size: 12px;
                }
            }

            #btn-pp {
                position: relative;
                border: none;
                padding: 0;
                height: 100%;
                width: 40px;
                border-radius: 100%;
                cursor: pointer;

                .img-container {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;

                    > img {
                        height: 100%;
                        aspect-ratio: 1/1;
                    }
                }

                span {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(90.18deg, #4669E3 -8.73%, rgba(32, 189, 255, 0.5) 75.9%, rgba(165, 254, 203, 0) 160.54%);
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #btn-add-event {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .navbar-top-container {
        display: none;
    }
}