.grid-container {
    padding: 40px;

    >  div {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 50px;
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .grid-container {
        > div {
            grid-template-columns: 1fr;
        }
    }
}